body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 156px;
  margin-right: 156px;
  justify-content: center;
  width: 1128px;
}

.gallery-item {
  max-width: 1128px;

  width: calc(33.333% - 32px); /* 3 зображення в рядку */
}

.gallery-link {
  display: block;
  text-decoration: none;
}

.gallery-image {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-image:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
